<h1>Add A New photo</h1>

<form action="/create_photo">
  <div>
    <label for = "the_caption">Caption:</label>
    <input id = "the_caption" type="text" name="the_caption">

    <label for = "the_source">Image URL:</label>
    <input id = "the_source" type="text" name="the_source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>


</body>
</html>
